.loadingContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-template-rows: auto;
    justify-items: start;
  
    .loadingBirb {
      border-radius: 100px;
      height: 70px;
      width: 70px;
      grid-column-start: 2;
      grid-column-end: 4;
      justify-self: center;
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
      @-moz-keyframes spin {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  
    .loadingBirbText {
      grid-column-start: 2;
      grid-column-end: 4;
      justify-self: center;
      color: goldenrod;
    }
  
    .birbInfoContainer {
      margin: 20px;
      background: #2b333c;
      width:90%;
      border-radius:20px;
      min-height: 200px;
      .usernameDetails {
        display: grid;
        grid-template-columns: 60px 60px auto;
        .mrBirb {
          justify-self: center;
          margin-top: 13px;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        .infoText {
          grid-column-start: 2;
          grid-column-end: 3;
          color: goldenrod;
          text-transform: capitalize;
        }
        .infoDetails {
          grid-column-start: 3;
          grid-column-end: 5;
          padding-left: 5px;
          color: white;
        }
      }
      .details {
        display: grid;
        grid-template-columns: 60px 60px auto;
        .infoText {
          grid-column-start: 2;
          grid-column-end: 3;
          color: goldenrod;
          text-transform: capitalize;
        }
        .infoDetails {
          grid-column-start: 3;
          grid-column-end: 5;
          padding-left: 5px;
          margin-right: 20px;
          color: white;
        }
      }
    }
  }
  
  .mrBirb {
    border-radius: 15px;
    height: 30px;
    width: 30px;
  }
  