.aboutContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 220px 220px 220px 220px;
  justify-items: start;
  line-height: 30px;
  .birbInfoContainer {
    margin: 20px;
    background: #2b333c;
    width: calc(100% - 20px);
    border-radius: 20px;
    min-height: 200px;
   // max-height: 200px;
    justify-self: center;
    display: grid;
    grid-template-columns: 100%;
    .usernameDetails {
      display: grid;
      grid-template-columns: 60px 60px auto;
      .mrBirb {
        justify-self: center;
        margin-top: 13px;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .infoText {
        grid-column-start: 2;
        grid-column-end: 3;
        color: rgb(253, 194, 44);
        text-transform: capitalize;
      }
      .infoDetails {
        grid-column-start: 3;
        grid-column-end: 5;
        padding-left: 5px;
        line-height:62px;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .highlightDetails{
          background: none;
          color: lightgreen;
        }
      }
    }
    .details {
      display: grid;
      grid-template-columns: 60px 60px auto;
      .infoText {
        grid-column-start: 2;
        grid-column-end: 3;
        color: rgb(253, 194, 44);
        text-transform: capitalize;
      }
      .infoDetails {
        line-height:62px;
        grid-column-start: 3;
        grid-column-end: 5;
        padding-left: 5px;
        margin-right: 20px;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .highlightDetails{
          background: none;
          color: lightgreen;
        }
      }
    }
  }
}

.contentBoxWide {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px 40px;
  .filterInput {
    height: 30px;
    width: 40%;
    justify-self: center;
    border-radius: 10px;
    background-color: whitesmoke;
    outline: none;
    text-align: center;
    font-weight: bold;
    color:#2b333c;
    font-size:13px;

  }
  .loadingContainer {
    justify-self: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    display: grid;
    .loadingBirb {
      border-radius: 100px;
      height: 70px;
      width: 70px;
      justify-self: center;
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
      @-moz-keyframes spin {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
    .loadingBirbText {
      justify-self: center;
      color: rgb(253, 194, 44);
    }
  }
}

.mrBirb {
  border-radius: 15px;
  height: 30px;
  width: 30px;
}
