.appWrapper {
  display: grid;
  grid-template-columns: 100%;
  font-family: monospace;
  font-size: 17px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 87vh;
}

.contentBox {
  background-color: whitesmoke;
  box-shadow: 2px 2px 6px #aaaaaa;
  border-radius: 40px;
  margin: 20px;
  padding-top: 10px;
  overflow: auto;

  .header {
    text-align: center;
    text-transform: uppercase;
    color: goldenrod;
  }
  .intro {
    padding-left: 40px;
  }
}

.showCodeButton{
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  justify-self: end;
  margin-right:10px;
  padding-right:25px;
}

button {
  outline: none;
  border: none;
  background-color: #2b333c;
  border-radius: 15px;
  display: block;
  position: relative;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 6px goldenrod;
  color: white;
  height: 35px;
  width: 140px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px goldenrod;
  top: 2px;
}

button:active {
  box-shadow: none;
  top: 6px;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.fade {
  opacity: 1;
}
.fade:hover {
  opacity: 0.5;
  cursor: pointer;
}

.codeContainer {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10px;
}

.headerGrid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  .header{
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .showCodeButton{
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: end;
  }
}

@media only screen and (max-width: 715px) {
  .appWrapper {
    display: grid;
    grid-template-columns: 130px auto;
  }
  .wrapper{
    grid-template-rows: 95vh;
  }
}
