.henloWrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

.contentBox_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  .techContainer {
    .techGrid {
      display: grid;
      grid-template-columns: 50px auto;
      grid-template-rows: auto;
      padding-left: 40px;
      padding-top: 15px;
      img {
        height: 40px;
        width: 40px;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-top: 7px;
        margin: 0 auto;
      }
      p {
        padding-left: 20px;
        grid-column-start: 2;
        grid-column-end: 5;
        justify-self: start;
        display: flex;
        align-items: center;
      }
    }
  }
}

.contentBox_2 {
  grid-column-start: 3;
  grid-column-end: 5;

  .imageContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: start;

    .beerBirb {
      border-radius: 30px;
      height: 200px;
      width: 300px;
      margin: 20px 40px 40px 40px;
    }

    .infoContainer {
      justify-self: center;
    }
  }
}

@media only screen and (max-width: 980px) {
  .birbPics {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: center;

    .beerBirb {
      border-radius: 30px;
      height: 250px;
      width: 350px;
      margin-top: 20px;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}

@media only screen and (max-width: 1330px) {
  .birbPics {
    .beerBirb {
      border-radius: 30px;
      height: 200px;
      width: 300px;
      margin-top: 20px;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}

@media only screen and (max-width: 715px) {
  .contentBox_1 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .contentBox_2 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
