.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 70px 80% auto;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
}

.headerNav {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #2b333c;
  line-height: 70px; // same height as grid template specification, allows us to use vertical-align targeting

  //NESTED GRID:  I'm a grid in the header...the header is also within a main grid along with the content and footer!
  .headerWrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    vertical-align: middle;

    a {
      text-decoration: none;
      color: white;
      margin-left: 10px;
    }

    .navItem {
      text-decoration: none;
      color: white;
      :hover {
        color: goldenrod;
      }
    }
  }
}

.contentBox{
  background-color: whitesmoke;
  box-shadow: 2px 2px 6px #aaaaaa;
  border-radius: 40px;
  margin: 15px;
  .header {
    text-align: center;
    text-transform: uppercase;
    color: goldenrod;
  }
  .content {
    margin-left: 10px;
  }
}

.contentBox_1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contentBox_2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 5;
}

.birb {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
