.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 70px 70% auto;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
}

.headerNav {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #2b333c;
  line-height: 70px; // same height as grid template specification, allows us to use vertical-align targeting

  //NESTED GRID:  I'm a grid in the header...the header is also within a main grid along with the content and footer!
  .headerWrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    vertical-align: middle;

    a {
      text-decoration: none;
      color: white;
      margin-left: 10px;
    }

    .navItem {
      text-decoration: none;
      color: white;
      :hover {
        color: goldenrod;
      }
    }
  }
}

.contentBox_1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contentBox_2 {
  grid-column-start: 3;
  grid-column-end: 5;
  .info{
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.contentBoxAbout {
  grid-column-start: 1;
  grid-column-end: 5;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 5;
  padding-left: 40px;
}

.contentBox {
  background-color: whitesmoke;
  box-shadow: 2px 2px 6px #aaaaaa;
  border-radius: 40px;
  margin: 15px;
  overflow: auto;
  .header {
    text-align: center;
    text-transform: uppercase;
    color: goldenrod;
  }
  .intro {
    padding-left: 40px;
  }
  .tools {
    padding-left: 40px;
    img {
      height: 30px;
      width: 30px;
      float: left;
    }
    p {
      padding-left: 40px;
      padding-top: 8px;
    }
  }
}

.birb {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.bigBirb {
  border-radius: 30px;
  height: 200px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
}

@media only screen and (max-width: 715px) {
  .wrapper {
    grid-template-rows: 70px 400px 400px 149px;
  }
  .contentBox_1 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .contentBox_2 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

button {
  outline: none;
  border: none;
  background-color: #2b333c;
  border-radius: 10px;
  display: block;
  position: relative;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 6px goldenrod;
  color: white;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px goldenrod;
  top: 2px;
}

button:active {
  box-shadow: none;
  top: 6px;
}